body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    height: 100%;
    display: flex;
}

.main-section{
    border: 1px solid red;
    box-sizing: border-box;
}


.main-section{
    border: 1px solid blueviolet;
}


.main-section{
    border: 1px solid greenyellow;
}

.sideBar{
    border: 1px solid orange;
}